.messagebord{
	position: absolute;
	display: block;
	/*border: 1px green solid;*/
	width: 80%;
}
.bord_up{
	position: relative;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	height: 2.5em;
	/*border: 1px solid blue;*/
}
.bord_down{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	/*border: 1px blue solid;	*/
}
span{
	position: relative;
	height: 9em;
	width: 100%;
	display: block;
	/*border: 1px solid red;*/
}
span .photo{
	position: relative;
	height: 2em;
	width: 2em;
	border-radius: 50%;
	display: block;
	float: left;
	margin-top: 5.66em;
	margin-left: 0.625em;
	margin-right: 0.625em;

}

span .content{
	position: relative;
	height: 8.5em;
	width: 90%;
	float: left;
	display: block;
	
	/*圆角加填充*/
	background: none repeat scroll 0 0 #e5e5ea;
    border-radius: 1em;
    padding: 10px 20px  ;

    /*border: 1px solid black;*/

}



span .content:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -5px;
    background: url('../../img/chat-left.png') no-repeat scroll left top transparent;
    width: 13px;
    height: 13px;
    display: block;
}

.user-name{
	position: relative;
	height: 1.5em;
	width: 8.2em;
	color: #007aff;
	/*border: 1px solid black;*/
}
.message{
	position: relative;
	height: 5em;
	width: 100%;
	font-size: 0.95em;
	line-height: 1.6em;
	color: #333;

	/*border: 1px solid red;*/
}

.time{
	position: relative;
	height: 1.5em;
	width: 8.2em;
	color: #888888;
	font-size: 0.8em;
	color: #888;
	/*border: 1px solid black;*/
}
.message-right .photo{
	float: right;
}
.message-right .content{
	background: none repeat scroll 0 0 #178efe;
	float: right;

}
.message-right .content:after{
	background: url('../../img/chat-right.png') no-repeat scroll left top transparent;
	left: auto;
	right: -6px;
}

.message-right .user-name{
	color: #FFFFFF;
}
.message-right .message{
	color: #FFFFFF;
}
.message-right .time{
	color: #FFFFFF;
	opacity: 0.75;
}
/*.bubble{

.

.img{
	border-radius: 50%;
    bottom: -2px;
    left: 0;
    position: absolute;
}*/

